@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: lightblue;
    
}

header {
    background-color: rgba(211, 211, 211, 0.89);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color: rgb(48, 48, 48);
    color: beige;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: nome;
    background-color: gray;
}

menu > ul > li > a {
    background-color: rgb(87, 87, 87);
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: azure;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 30px;
}

article > ul > li {
    text-align: justify;
    list-style-position: inside;
    margin-bottom: 20px;
    padding-left: 60px;
}

article > div#imagem {
    background: url(../imagens/cod-css.jpg) no-repeat;
    display: flex;
    background-size: cover;
    background-position: left bottom;
    height: 750px;
    padding: 10px;
    margin-bottom: 15px;
}

footer {
    color: black;
    text-align: center;
    font-size: .6em;
    padding: 5px;
}

footer a{
    color: rgba(0, 0, 255, 0.767);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: rgb(1, 1, 29);
    font-weight: bolder;
    text-decoration: underline;
}