@charset "UTF-8";


/* Para TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 70vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        display: block;
        position: absolute;
        top: 15%;
        left: 30%;
        float: right;
        width: 70%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
        margin-bottom: 35px;
    }
    
    div#formulario > p {
        font-size: 1.2em;
        margin-bottom: 25px;
    }

    footer {
        font-size: .8em;
    }
}

/* Para DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to top, #8ce6e3, #210a30);
    }
    
    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        display: block;
        position: absolute;
        top: 15%;
        right: 40%;
        float: left;
        width: 60%;
    }

    div#formulario > h1 {
        font-size: 2em;
        margin-bottom: 35px;
    }
    
    div#formulario > p {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    footer {
        font-size: 1em;
    }
}

/* Para SMARTTV */
@media screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(to top, #204241, #753c9b);
    }
    
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        display: block;
        position: absolute;
        top: 5%;
        right: 50%;
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 3em;
        margin-bottom: 30px;
    }
    
    div#formulario > p {
        font-size: 2em;
        margin-bottom: 15px;
    }

    footer {
        font-size: 1.3em;
    }
}